
      header{
        width: 960px;
        height: auto;
        background-color: red;
        margin: 0 auto;
      }

      footer{
        width: 960px;
        height: 100px;
        background-color: red;
        margin: 0 auto;
      }

      main{
        width: 920px;
        /* height: 500px; */
        height: auto;
        background-color: green;
        padding: 20px;
        margin: 0 auto;
        margin-top: -18px;
      }

      #name{
        text-align: center;
      }

      #imageSection{
        width: 300px;
        height: auto;
        background-color: blue;
        margin: 0 auto; /* 0 = top/bottom auto = left/right */
        margin-top: 0px;
        margin-bottom: 50px;
        margin-left: 75px;
        margin-right: auto;
        padding: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        display: inline-block;
      }

      #panda{
        width: 250px;
        display: block;
        margin: 0 auto;
        border-style: solid;
        border-width: 10px;
        border-top-width: 5px;
        border-width: 5px 10px 15px 20px; /* top right bottom left */
        border-color: yellow;
      }

      #p1{
        width: 800px;
        height: auto;
        margin: 0 auto;
        font-size: 20px;
        line-height: 40px;
      }

      nav{
        background-color: white;
        width: 275px;
        margin: 0 auto;
      }

      nav ul{

        background-color: purple;
      }

      nav ul li{
        list-style: none;
        display: inline-block;
        margin-right: 30px;
        margin-left: -15px;


      }

      nav ul li a{
        color: white;
        text-decoration: none;
      }

      nav ul li a:hover{
        color: grey;
      }

      /*
      @media only screen and (min-width: 960px){
        body{
          background-color: black;
        }
      }

      @media only screen and (max-width: 960px) and (min-width: 480px){
        body{
          background-color: green;
        }
      }

      @media only screen and (max-width: 480px){
        body{
          background-color: pink;
        }
      }
      */
