header{
  width: 80%;
  height: 100px;
  background-color: grey;
  margin: 0 auto;
}

main{
  width: 80%;
  height: auto;
  background-color: aqua;
  margin: 0 auto;
}
footer{
  width: 80%;
  height: 100px;
  background-color: grey;
  margin: 0 auto;
}

#grid1{
  display: grid;
  <!-- using exact dimensions -->
  <!-- grid-template-rows: 200px; -->
  <!-- grid-template-columns: 300px 300px 300px; -->

  grid-template-row: 1fr;
  grid-template-columns: 2fr 1fr 1fr;

  margin-bottom: 20px;
}

#grid2{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin-bottom: 20px;
}

.imageGallery{
  width: 80%;
  margin: 0 auto;

}
