body{
  background-image: url("../images/wolf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header, footer{
  width: 700px;
  height: 50px;
  background-color: green;
  margin: 0 auto;
}
main{
  width: 700px;
  height: auto;
  background-color: orange;
  margin: 0 auto;
}

#section1{
  width: 700px;
  height: auto;
  display: grid;
  grid-template-rows: 400px;
  grid-template-columns: 340px 340px;
  grid-column-gap: 20px;
  background-color: white;
}

#wolfImage{
  width: 350px;
}

#section2{
  width: 700px;
  height: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

#section3{
  width: 700px;
  height: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr; /* one column and the second column is going to be twice the size of the first */
  grid-column-gap: 10px;
  background-color: green;
}

#section4{
  width: 700px;
  height: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.wolfGallery{
  width: 100%;
}
