@import "layout.css";

.container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:   "header"
                          "main"
                          "footer";
  grid-template-rows:   1fr 1fr 1fr;
  grid-template-columns:  100%;

}


main {
  grid-area: main;
  background-color: green;

  display: grid;
  grid-template-areas: "col1" "col2";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  padding-bottom: 20px;

}
