#colorChange{
  color: peru;
}

.backgroundChange{
  background-color: red;
}

#box{
  background-color: orange;
  width: 180px;
  height: auto;

  padding: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: dashed;
  border-width: 5px;
  border-color: red;
  border: solid blue 10px;
  border-width: 10px 5px 10px 5px;
  margin: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  margin: 50px 50px 50px 50px;
  margin: 0 auto;
}


header{
  background-color: orange;
  width: 960px;
  height: 200px;
  margin: 0 auto;
  margin-top: -25px;
}

main{
  background-color: black;
  width: 960px;
  height: auto;
  margin: 0 auto;
  margin-top: -16px;
}

footer{
  background-color: orange;
  width: 960px;
  height: 100px;
  margin: 0 auto;
  margin-top: -16px;

}

nav{
  width: 300px;
  margin: 0 auto;
  background-color: pink;
}

nav ul{

}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

nav ul li a{
  text-decoration: none;
  color: black;
}

nav ul li a:hover{
  color: gray;
}
