@import "desktop.css";

header{
  width: 380px;
}

main{
  width: 380px;
}

footer{
  width: 380px;
}

nav ul li{
  display: block;
  text-align: center;
}

#grid1, #grid2, #grid3{
  width: 380px;
  display: block;
}

#grid3 img{
  width: 300px;
}
